doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title #{__('TITLE', community)}
    link(href="css/style.css", rel="stylesheet", type="text/css")
    link(href="//fonts.googleapis.com/css?family=Arimo:400,700|Asap:400,700", rel="stylesheet", type="text/css")
  body
    #wrapper
      .main
        .header
          h1= message
          h2= error.status
          pre #{error.stack}
